@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#bars {
  height: 20px;
  width: 30px;
  position: relative;
}

.bar {
  background: #1FE064;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 18px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 15px;
  animation-duration: 400ms;
}
.bar:nth-child(6) {
  left: 18px;
  animation-duration: 427ms;
}
.bar:nth-child(7) {
  left: 22px;
  animation-duration: 441ms;
}

.wrapper {
  position: relative;
}

.marquee {
  animation: marquee 30s linear infinite;
}

.marquee2 {
  animation: marquee2 30s linear infinite;
  position: absolute;
  top: 0;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin: 0 4px;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}